<%- include("partials/headerforall")%>

<div id="job">
	<p id="job_company_name"><%= job.company_name %></p>
	<p id="job_desc"><%= job.desc %></p>
	<p id="job_post_available">Post Available: <%= job.post_available %></p>
	<p id="job_dept">Department: <%= job.dept %></p>
	<p id="job_requirements_head">Requirements: <li id="job_requirement"><%= job.requirements[0] %></li></p>
	<% for(var j=1; j<job.requirements.length; j++){ %>
		<li id="job_other_requirements"><%= job.requirements[j] %></li>
		<br>
	<% } %>
	<p id="job_p_for_button">
		<a href="/">
			<button id="job_apply_button">
				Apply
			</button>
		</a>
	</p>
</div>

<div id="job_trademarkset">
	<p id="tradeMark">
		Trademark NewNormal 2020. All Rights Reserved
	</p>
	<!-- <p id="createdBy">
		BY KD
	</p> -->
</div>
<script src="/js/fade.ejs"></script>
</body>
</html>